html, body {
    height: 100%;
}

body {
    background-color: #FFC857;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    height: 300px;
    width: 300px;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}